<div class="row">
  <div class="col-sm-12">

    <%= form_for([:admin, @user]) do |f| %>
    
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :streets, "Streets" %>
        <%= f.text_field :streets, :class => "form-control" %>
      </div>

      <%= f.submit "Save", :class => "btn btn-primary" %>
    <% end %>
      
  </div>
</div>
