<div class="row">
  <div class="col-sm-12">

    <%= form_for([:admin, @user]) do |f| %>
    

      <%= render "shared/errors", :resource => @user %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", readonly: true %>
      </div>

      <div class="form-group">
        <%= f.label :streets, "Streets" %>
        <%= f.text_field :streets, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :towns %>
        <div class="form-control">
          <%= f.collection_check_boxes :towns, User::AVAILABLE_TOWNS, :to_s, :to_s do |b| %>
            <div class="form-check form-check-inline">
              <%= b.check_box(class: "form-check-input") %>
              <%= b.label(class: "form-check-label") %>
            </div>
          <% end %>
        </div>
      </div>

      <%= f.submit "Save", class: "btn btn-primary" %>
    <% end %>
      
  </div>
</div>
