<h3>Users (<%= @users.total_count %>)</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Email</th>
      <th scope="col">Streets</th>
      <th scope="col">Towns</th>
      <th scope="col">Created At</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr id="<%= dom_id(user) %>">
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.streets %></td>
        <td><%= user.towns.join(", ") %></td>
        <td><%= user.created_at.to_date %></td>
        <td class="text-right">
          <div class="btn-group" role="group" aria-label="User actions">
            <%= edit_user_link(user) %>
            <%= delete_user_link(user) %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pagination-container">
  <%= paginate @users %>
</div>
