<div class="container mb-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <%= link_to "Hackberry Rails Starter", root_path, :class => "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if signed_in? %>
          <% if admin_page? %>
            <%= render "layouts/admin_navigation" %>
          <% else %>
            <%= render "layouts/user_navigation" %>
          <% end %>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, :class => "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

