<!doctype html>
<html lang="en">
  <head>
    <title>Servisne Info</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      
    <%= csrf_meta_tags %>
  </head>
  <body class="admin">
    <div class="content">
      <%= render "layouts/navigation" %>

      <div class="container">
        <div class="row">
          <div class="col-md-12 main-content">
            <%= render "layouts/flash" %>
            
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
