<div class="row">
  <div class="col-sm-12 col-md-6">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, :class => "form-control" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <small class="form-text text-muted">
          Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </small>
      <% end %>
    
      <div class="form-group">
        <%= f.label :streets %>
        <%= f.text_field :streets, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => "off", :class => "form-control" %>
        <small class="form-text text-muted">
          Ostavite prazno ako ne želite da promenite lozinku
        </small>
        <% if @minimum_password_length %>
          <small class="form-text text-muted">
            Minimalno <%= @minimum_password_length %> karaktera.
          </small>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :autocomplete => "off", :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, :autocomplete => "off", :class => "form-control" %>
        <small class="form-text text-muted">
          Upišite lozinku da potvrdite promene.
        </small>
      </div>

      <%= f.submit t("save"), :class => "btn btn-primary" %>
    <% end %>

    <p class="mt-5">
      Niste zadovoljni?
      <%= button_to(
        t("cancel_account"),
        registration_path(resource_name),
        :data => { :confirm => "Are you sure?" },
        :method => :delete,
        :class => "btn btn-outline-danger btn-sm"
      ) %>
    </p>

    <%= link_to t("back"), :back %>
  </div>
</div>
